KYQRA_DOMAIN=kyqra.com
CRAWLER_SUBDOMAIN=crawler.kyqra.com
CRAWLER_PORT=3000
REDIS_URL=redis://redis:6379
MIDDLEWARE_BASE_URL=https://kyqra.com
MIDDLEWARE_IP=65.109.65.169
CALLBACK_SECRET=change-me
API_KEY=change-me
